<!DOCTYPE html>
<html>
  <head>
    <title>MVP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 style="font-family: Helvetica Neue; font-size: 10em; text-align: center; background-color:black; color: white; margin-top: -5px;">My Bookshelf</h1>
    <%= yield %>
  </body>
</html>
